@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    height: 100vh;
    font-family: Inter;
  }

.attribution {
    font-size: 11px;
    text-align: center;
    display: fixed;
    right: 0;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}